/* Form Styling */
.form-group[b-hkbyujdcmu] {
  margin-bottom: 15px;
}

.btn-primary:hover[b-hkbyujdcmu] {
  background-color: #0056b3;
  border-color: #0056b3;
}

a[b-hkbyujdcmu] {
  color: #007bff;
  text-decoration: none;
}

a:hover[b-hkbyujdcmu] {
  text-decoration: underline;
}
