img[b-5mah9dqdj7] {
    transition: transform 0.25s ease;
}

img:hover[b-5mah9dqdj7] {
    transform: scale(1.5);
}




table[b-5mah9dqdj7] {
    width: 100%;
    border-collapse: collapse;
}

th[b-5mah9dqdj7], td[b-5mah9dqdj7] {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

h1[b-5mah9dqdj7] {
    color: rgb(229, 13, 13);
    font-size: 24px;
    margin-bottom: 20px;
}

.table[b-5mah9dqdj7] {
    margin-top: 20px;
}

a[b-5mah9dqdj7] {
    text-decoration: none;
    color: #007bff;
}

a:hover[b-5mah9dqdj7] {
    text-decoration: underline;
}

