@{
    ViewData["Title"] = "Privacy Policy";
}
<style> *{background-color: lightgoldenrodyellow;}</style>
<h1>@ViewData["Title"]</h1>

<p>Welcome to our Privacy Policy page. Here, we outline how we collect, use, and protect your personal information when you use our website. Your privacy is important to us, and we are committed to safeguarding your data.

Please take the time to review our Privacy Policy to understand how your information is handled on our site.

If you have any questions or concerns regarding your privacy or our practices, please don't hesitate to contact us.

Thank you for trusting us with your information.</p>
